@use 'variables' as *;

.projects {
    background-color: $quartenaryColor;

    .projectsFlex1 {
        display: flex;
        img {
            max-width: 20%;
            background-size: contain;
            display: block;
        }
    }

    h2 {
        color: $;
    }
}