@use 'variables' as *;

.skills {
    background-color: $secondaryColor;
    padding: 70px 0;
    h2 {
        margin: 0;
        color: $tertiaryColor;
        text-align: center;
        letter-spacing: 30px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        li {
            color: $tertiaryColor;
            font-size: 3.5rem;
            transition: transform 1s;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}