@use "variables" as *;

@font-face {
    font-family: masqualero-groove, sans-serif;
    src: url(../.././index.html);
}

@font-face {
    font-family: puffin-arcade-tate, sans-serif;
    src: url(../.././index.html);
}

html {
    body {
        h1 {
            font-family: puffin-arcade-tate;
            text-transform: uppercase;
            font-size: 9rem;
        }
    }
}