@use "variables" as *;

@font-face {
    font-family: masqualero-groove, sans-serif;
    src: url(../.././index.html);
}

@font-face {
    font-family: puffin-arcade-tate, sans-serif;
    src: url(../.././index.html);
}

h2 {
    font-family: $headingFont;
    font-size: 3rem;
    font-weight: 100;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}