@font-face {
  font-family: masqualero-groove, sans-serif;
  src: url(../.././index.html);
}
@font-face {
  font-family: puffin-arcade-tate, sans-serif;
  src: url(../.././index.html);
}
h2 {
  font-family: masqualero-groove;
  font-size: 3rem;
  font-weight: 100;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  background-color: #96AC99;
  height: auto;
  padding: 240px 0;
}
header h1 {
  font-family: puffin-arcade-tate;
  font-size: 10rem;
  color: #1D241E;
  margin: 0;
  text-align: center;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0;
}
header ul li {
  font-family: masqualero-groove;
  font-size: 2rem;
  padding: 10px 0 10px 0;
  width: 33%;
  text-align: center;
}
header ul li:hover {
  background-color: #1D241E;
}
header ul li:hover a {
  color: #96AC99;
}
header ul li a {
  color: #1D241E;
}
header ul .li {
  border-right: 1px solid;
  border-color: #1D241E;
}

.wrapper {
  max-width: 1250px;
  margin: auto;
}

.about {
  background-color: #FBFFE3;
  padding: 100px 0;
}
.about .aboutFlex1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.about h2,
.about p {
  color: #A25E16;
}
.about h2 {
  border-bottom: 0.5px solid;
  padding-bottom: 15px;
  letter-spacing: 20px;
  margin: 0;
}
.about p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: justify;
}
.about p span {
  background-color: rgba(162, 94, 22, 0.3);
  text-decoration: underline;
  padding: 5px;
}
.about p span:hover {
  background-color: #A25E16;
  color: #FBFFE3;
}
.about img {
  width: 30%;
  height: 30%;
  border-radius: 50px;
}

.aboutFlex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}
.aboutFlex2 .interests {
  margin-top: 55px;
}
.aboutFlex2 .interests div {
  background-color: rgba(162, 94, 22, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 25px;
}
.aboutFlex2 .interests div:hover {
  background-color: #A25E16;
}
.aboutFlex2 .interests div h2 {
  font-size: 2rem;
  color: #FBFFE3;
  letter-spacing: 30px;
  border: none;
  padding: 0;
}
.aboutFlex2 .interests div button {
  border: none;
  font-size: 2rem;
  background-color: rgba(162, 94, 22, 0);
  color: #FBFFE3;
}
.aboutFlex2 .interests p {
  display: none;
}

.skills {
  background-color: #A25E16;
  padding: 70px 0;
}
.skills h2 {
  margin: 0;
  color: #FBFFE3;
  text-align: center;
  letter-spacing: 30px;
}
.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}
.skills ul li {
  color: #FBFFE3;
  font-size: 3.5rem;
}

.contact {
  background: #96AC99;
  padding: 110px 0;
}
.contact .contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact .contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  text-align: justify;
  margin-top: 200px;
}
.contact .contactInfo .name {
  font-family: masqualero-groove;
  font-size: 2rem;
  margin: 0 0 0 80px;
}
.contact .contactInfo .name span {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 1.5rem;
}
.contact .contactInfo .email {
  font-family: "Times New Roman";
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin: 0px 0px 20px 80px;
}
.contact .contactInfo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact .contactInfo ul li {
  padding: 10px 0 10px 0;
  width: 33%;
  text-align: center;
}
.contact .contactInfo ul li:hover {
  background-color: #1D241E;
}
.contact .contactInfo ul li:hover a {
  color: #96AC99;
}
.contact .contactInfo ul li a {
  color: #1D241E;
}
.contact .contactInfo ul .li {
  border-right: 1px solid;
  border-color: #1D241E;
}
.contact .contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}
.contact .contactForm p,
.contact .contactForm h3 {
  text-align: right;
  font-family: "Times New Roman";
}
.contact .contactForm p {
  font-size: 1.5rem;
  color: rgba(29, 36, 30, 0.5);
  margin: 0;
}
.contact .contactForm h3 {
  text-transform: uppercase;
  color: #1D241E;
  font-style: italic;
  font-size: 2.8rem;
  margin: 0 0 15px 0;
}
.contact .contactForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact .contactForm form label {
  display: none;
}
.contact .contactForm form input,
.contact .contactForm form textarea {
  background-color: #1D241E;
  border: #1D241E;
  font-family: "Times New Roman";
  text-transform: uppercase;
  color: #96AC99;
  letter-spacing: 10px;
}
.contact .contactForm form button {
  border: none;
  background-color: rgba(29, 36, 30, 0.5);
  color: #FBFFE3;
  padding: 15px;
  text-transform: uppercase;
  font-family: masqualero-groove;
  letter-spacing: 30px;
}
.contact .contactForm form button:hover {
  background-color: #1D241E;
}

input {
  padding: 15px;
  margin-bottom: 10px;
}

textarea {
  margin: 10px 0;
  padding: 15px;
  resize: none;
}

footer {
  background-color: #FBFFE3;
}
footer p {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #A25E16;
  font-family: "Times New Roman";
}

.projects {
  background-color: #1D241E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}
.projects button {
  height: 100px;
  width: 90px;
  border: none;
  background-color: rgba(251, 255, 227, 0.3);
  margin: auto;
}
.projects button:hover {
  background-color: #FBFFE3;
}
.projects button .arrow1,
.projects button .arrow2 {
  margin: auto;
  height: 25px;
  width: 25px;
  border-bottom: 10px solid #1D241E;
  border-right: 10px solid #1D241E;
}
.projects button .arrow1 {
  -webkit-transform: translateY(-20%) rotate(140deg);
          transform: translateY(-20%) rotate(140deg);
}
.projects button .arrow2 {
  -webkit-transform: translateY(-20%) rotate(315deg);
          transform: translateY(-20%) rotate(315deg);
}
.projects .projectsFlex1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.projects .projectsFlex1 img {
  width: 35%;
  height: 35%;
  margin: auto;
}
.projects h2 {
  color: #96AC99;
  font-weight: 100;
  letter-spacing: 25px;
  border-bottom: 0.5px solid;
  margin: 0;
}
.projects p,
.projects a {
  color: #96AC99;
  font-family: "Times New Roman";
  font-size: 1.2rem;
}

.projectsFlex1 .projectsFlex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}
.projectsFlex1 .projectsFlex2 .projectsFlex3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 3rem;
  color: rgba(254, 255, 227, 0.5);
}
.projectsFlex1 .projectsFlex2 .projectsFlex4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .project2,
.projects .project3 {
  display: none;
}

p {
  line-height: 2rem;
  text-align: justify;
}

.projectsFlex4 li {
  width: 20%;
  padding: 10px 0 10px 40px;
}
.projectsFlex4 li:hover {
  background-color: #96AC99;
}
.projectsFlex4 li:hover a {
  color: #1D241E;
}
.projectsFlex4 .li {
  border-right: 1px solid;
  color: #96AC99;
}